font-face {
    font-family: 'GoraFree-Regular';
    src: url('./fonts/GoraFree-Regular/GoraFree-Regular.eot') format('embedded-opentype');
    src: url("./fonts/GoraFree-Regular/GoraFree-Regular.svg#svgGoraFree-Regular") format("svg");
    src: url("./fonts/GoraFree-Regular/GoraFree-Regular.ttf") format("truetype");
    src: url("./fonts/GoraFree-Regular/GoraFree-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url("./fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url("./fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("./fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header{

    background-color: #131415;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    width:1100px;
    margin:0;
}
.header__logo{
    margin: 10px;
    top: 10px;
    left: 0;
    color: #f89513;
    width: 160px;
    font-family: "Gora Free";
    font-size: 18px;
    font-weight: 400;
    line-height: 54px;
    text-transform: uppercase;
    /* Text style for "А, фродита" */
    letter-spacing: 1.8px;
}
.header__contact{
   display: flex;
    justify-content: flex-end;
    align-items: flex-end;



}
.contacts__phone {
    justify-content:;
    color: white;
    font-size: 21px;
    font-family: "Open Sans";
    line-height: 35px;
    text-transform: uppercase;

}

.header__schedule{
    width: 114px;
    opacity: 0.7;
    color: #f89513;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    margin: 0;
    padding:7px;


}
.header {
    display: flex;
    background-color: #131415;
    height: 77px;
    text-align: center;

}

.header__menu__top1:before {
    content: url("./img/main_icon.png");
    width: 20px;
    height: 18px;
    color: white;
    font-family: "Open Sans";


}
.header__menu__top2:before{
    content: url("./img/feed_icon.png");
    width: 20px;
    height: 18px;
}
.header__menu__top3:before {
    content: url("./img/service_icon.png");
    width: 20px;
    height: 18px;
}
.header__logo {
    position: absolute;
    top: 10px;
    left: 0;

}

.header__menu__top {
    display: flex;
    justify-content:space-around;
    align-items:flex-start;
    height: 14px;
    color: white;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    margin: 0px;
    width: 350px;
    padding: 20px;

}

.partone {
    text-align: center;
}

.parttwo {
    color: white;
    display: flex;
    background-color: #131415;
    text-align: center;
    height: 420px;

}
.headline {
    justify-content: center;
    width: 390px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 49px;
    margin: 0px;
}

.
}




aside {
    display:flex;
    justify-content: right;
    padding: 10px;
    width: 200px;

}
h2{
    width: 590px;
    height: 45px;
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 1.47px;
    text-align: center;
    margin:0px;
}
.partthree__container{
    display: flex;
    width: 750px;
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    color: #656464;
    font-weight: 700;
    line-height: 21px;
    font-family: "Roboto Light";
    font-weight: 300;
    line-height: 30px;
    margin: 0px;
}

.partthree__avatar {
    display: flex;
    justify-content: flex-start;
    float: left;

}
.end__text {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 40px;






}
h4 {color: white;
    margin: 0px;
}
.end__social{
    display: flex;
    justify-content: right;
}
.social{
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: black;


}
.end__logo{
    width: 159px;
    color: #f89513;
    font-family: "Gora Free";
    font-size: 18px;
    font-weight: 400;
    line-height: 54.55px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.pagination{
    display: flex;
    padding: 0;
    justify-content: center;

}